<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Required for communication with the companion app -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- Declare that this is a Wear OS app -->
    <uses-feature android:name="android.hardware.type.watch" />

    <!-- Mark as not independently installable by default, it's a companion app -->
    <application
        android:name=".CupcakeWearApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.DeviceDefault">

        <!-- Indicates that this app is designed to work with a paired phone -->
        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="false" />

        <!-- Main activity that shows the TimeKeeper -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Data Layer Listener Service to receive updates from the phone -->
        <service
            android:name=".service.DataLayerListenerService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.DATA_CHANGED" />
                <data android:scheme="wear" android:host="*" android:path="/timekeeper" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED" />
                <data android:scheme="wear" android:host="*" android:path="/timekeeper/update" />
            </intent-filter>
        </service>

        <!-- Complication Provider Service for watch faces (optional) -->
        <service
            android:name=".complication.TimeKeeperComplicationProviderService"
            android:exported="true"
            android:label="@string/timekeeper_complication_label"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>
            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="SHORT_TEXT,LONG_TEXT" />
            <meta-data
                android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS"
                android:value="60" />
        </service>
    </application>

</manifest>
